<div class="row">
<div class="col-sm-2" style="background: #000000;">
<h1 style="color:#fff"><%= @note.title %></h1>
<p style="color:#fff"><%= @note.content %></p>

</div>

<div class="col-sm-10" >

</div>

</div>
<p>
<%= link_to "All Notes", notes_path %><br />
<%= link_to "Edit Note", edit_note_path(@note) %><br />
<%= link_to "Delete Note", note_path(@note), method: :delete, data: {confirm: "Are you sure"} %><br />
</p>
