<!--
<nav class="navbar navbar-default navbar-fixed-top">
  <div>
    <div class="" style="padding:0px;">
  <%= link_to image_tag("1.png", alt: "logo"),
        '/' %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

-->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to image_tag("1.png", alt: "logo"),
        '/', class: 'logo'  %>
    </div>
    <ul>
      <li class="btn btn-default navbar-btn navbar-right"><%= link_to("Sign Up", new_user_registration_path)  %></li>
     
      <% if user_signed_in? %>
  <li class="btn btn-default navbar-btn navbar-right">
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li class="btn btn-default navbar-btn navbar-right">
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>
    </ul>
  </div>
</nav>